<!DOCTYPE html>
<html>
  <%- include ./partials/head %>

  <body>
   
    <div class="container">
      <h1>Login Page</h1>
     
      <a href="/" class="btn btn-primary">Login</a>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
